<app-slider></app-slider>

<!-- INICIO INFO -->
<section>
  <div class="inicio-info">
    <p>Ayúdanos a combatir el hambre y el desperdicio de alimentos.</p>
  </div>
</section>

<!-- PROYECTOS -->
<section class="proyectos">

  <div class="cards-container">

    <div class="card azul">
      <div class="card-img">
        <img src="assets/images/inicio/proyecto1.jpeg" alt="imagen">
      </div>

      <div class="card-body">
        <p>
          Este año 2023, desde Marzo a Setiembre ejecutamos el proyecto
          de Rescate de Alimentos gracias a Cáritas del Perú y el Programa Mundial de Alimentos.
        </p>

        <a href="#" class="btn-card">
          MÁS INFORMACIÓN
        </a>
      </div>
    </div>

    <div class="card azul">
      <div class="card-img">
        <img src="assets/images/inicio/proyecto2.jpeg" alt="imagen">
      </div>

      <div class="card-body">
        <p>
          Gracias a las donaciones de frutas provenientes del rescate de alimentos
          en mercados de abastos, se preparan loncheras para niños.
        </p>

        <a href="#" class="btn-card">
          MÁS INFORMACIÓN
        </a>
      </div>
    </div>

    <div class="card naranja">
      <div class="card-img">
        <img src="assets/images/inicio/naranjas.jpeg" alt="naranjas">
      </div>

      <div class="card-body">
        <p>
          Mediante el mecanismo de donación de alimentos se ha podido rescatar
          productos de la agroindustria.
        </p>

        <a href="#" class="btn-card">
          MÁS INFORMACIÓN
        </a>
      </div>
    </div>



    <div class="card morado">
      <div class="card-img">
        <img src="assets/images/inicio/naranjas.jpeg" alt="naranjas">
      </div>

      <div class="card-body">
        <p>
          El comedor "Padre Daniele B." forma parte de "Comedores Solidarios"
                  quienes brindan gratuitamente desayunos y almuerzos.
        </p>

        <a href="#" class="btn-card">
          MÁS INFORMACIÓN
        </a>
      </div>
    </div>

<div class="card verde">
      <div class="card-img">
        <img src="assets/images/inicio/naranjas.jpeg" alt="naranjas">
      </div>

      <div class="card-body">
        <p>
         Contribuimos al Programa Social "Chakipa" de la Cáritas de Cajamarca
                  en el reparto de 600 kits de alimentos a familias vulnerables.
        </p>

        <a href="#" class="btn-card">
          MÁS INFORMACIÓN
        </a>
      </div>
    </div>


    <div class="card rojo">
      <div class="card-img">
        <img src="assets/images/inicio/naranjas.jpeg" alt="naranjas">
      </div>

      <div class="card-body">
        <p>
         Apoyamos a "Casas Solidarias" dedicadas al cuidado de personas con
                  discapacidad y en situaciones difíciles.
        </p>

        <a href="#" class="btn-card">
          MÁS INFORMACIÓN
        </a>
      </div>
    </div>



  </div>

</section>

<!-- COMPROMISO -->
<section class="compromiso">

  <div class="compromiso-container">

    <div class="compromiso-texto">

      <p class="subtitulo">
        Tenemos el compromiso de ayudar a
      </p>

      <h2>
        <strong>11107 Beneficiarios</strong>
        en
        <strong>61 Organizaciones</strong>
      </h2>

      <p class="descripcion">
        Mensualmente, semanalmente y diariamente,
        reciben ayuda alimentaria.
      </p>

      <div class="estadisticas">

        <div class="item">
          <h3>31</h3>
          <p>Voluntarios</p>
        </div>

        <div class="item">
          <h3>100 Toneladas</h3>
          <p>Alimentos Rescatados 2022</p>
        </div>

        <div class="item">
          <h3>61</h3>
          <p>Organizaciones Beneficiadas</p>
        </div>

        <div class="item">
          <h3>314 Toneladas</h3>
          <p>Alimentos Rescatados 2023</p>
        </div>

      </div>

    </div>

    <div class="compromiso-video">

      <div class="video-box">

        <iframe
          src="https://www.youtube.com/embed/TU_ID_DEL_VIDEO"
          title="Video Banco de Alimentos"
          allowfullscreen>
        </iframe>

      </div>

    </div>

  </div>

</section>

<!-- CAMPAÑAS -->
<section class="campanas">

  <p class="subtitulo-campana">
    Próximamente
  </p>

  <h2>
    Campañas Destacadas
  </h2>

  <p class="texto-campana">
    Un Mes Contigo!!!
  </p>

</section>

<!-- AYUDA -->
<section class="ayuda-section">

  <div class="contenido-ayuda">

    <h2>
      Sé parte de esta aventura.
    </h2>

    <h3>
      ¿Cómo Ayudar?
    </h3>

    <p>
      Puedes ayudarnos a ayudar de distintos modos.
    </p>

  </div>

</section>

<!-- ÚLTIMAS CAMPAÑAS -->
<section class="campanas-section">

  <div class="titulo-campanas">
    <h2>Últimas Campañas</h2>
    <p>Conoce nuestras últimas campañas</p>
  </div>

  <div class="video-campana">

    <h3>
      Mira Nuestros Videos
    </h3>

    <a href="https://youtube.com" target="_blank" class="btn-video">
      VER VIDEO
    </a>

  </div>

</section>

<!-- LOGROS -->
<section class="logros-voluntarios">

  <div class="contenido-logros">

    <h2>
      Logros Alcanzados
    </h2>

    <p>
      100 Toneladas de alimentos rescatados
      en la ciudad de Cajamarca.
    </p>

  </div>

  <div class="voluntarios-box">

    <h3>
      Conoce a Nuestros Voluntarios
    </h3>

    <p>
      Los voluntarios son el alma de esta institución.
    </p>

  </div>

</section>

<!-- ALIADOS -->
<section class="aliados-section">

  <div class="aliados-container">

    <div class="aliados-header">

      <h2>
        Nuestros Aliados
      </h2>

      <p>
        Únete y sé nuestro aliado
      </p>

    </div>

    <div class="slider-aliados">

      <div class="slider-circulo">
        <img src="assets/images/aliados/megaplaza.webp" alt="Aliado">
      </div>

    </div>

  </div>

</section>