.dashboard{

    display:flex;
    flex-direction:column;
    gap:25px;

}

.header-dashboard{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.header-dashboard {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-dashboard h1 {
    font-size: 34px;
    color: #202020;
    margin: 0;
}

.header-dashboard p{

    color:#777;

}
.contenedor {
    position: relative;
}

.contenedor {
    display: flex;
    justify-content: flex-end;
}

.btn-reporte{ background:#ff8c00;
    color:white; border:none; 
    padding:12px 22px; 
    border-radius:10px;
    cursor:pointer;
    font-weight:bold; 
    transition:.3s; 
    margin-left: 50px;

}

.cards{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;

}

.card{

    background:white;
    border-radius:18px;
    padding:25px;

    display:flex;
    gap:20px;
    align-items:center;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

}

.icono{

    width:65px;
    height:65px;

    border-radius:50%;

    background:#fff3e0;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:30px;

}

.card span{

    color:#777;

}

.card h2{

    font-size:35px;
    color:#202020;

}

.contenido{

    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
    align-items:start;

}

.grafico,
.actividad{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}
.fake-chart{

    margin-top:20px;
    height:350px;
    overflow:hidden;

}

.actividad ul{

    margin-top:20px;

}

.actividad li{

    padding:15px 0;

    border-bottom:1px solid #ececec;

}
.grafico{

    min-height:480px;

}

.actividad{

    min-height:480px;

}