<section class="panel-admin">

  <aside class="sidebar-panel">

    <div class="logo-panel">
      <h2>Banco de<br>Alimentos</h2>
    </div>

    

    <nav class="menu-panel">

      <button
        [class.activo]="seccionPanel==='dashboard'"
        (click)="cambiarSeccion('dashboard')">
        🏠 Inicio
      </button>

      <button
        *ngIf="rol==='ADMINISTRADOR'"
        [class.activo]="seccionPanel==='alimentos'"
        (click)="cambiarSeccion('alimentos')">
        🥫 Alimentos
      </button>

      <button
        *ngIf="rol==='ADMINISTRADOR'"
        [class.activo]="seccionPanel==='categorias'"
        (click)="cambiarSeccion('categorias')">
        📂 Categorías
      </button>

      <button
        *ngIf="rol==='ADMINISTRADOR'"
        [class.activo]="seccionPanel==='donadores'"
        (click)="cambiarSeccion('donadores')">
        👤 Donadores
      </button>

      <button
        *ngIf="rol==='ADMINISTRADOR'"
        [class.activo]="seccionPanel==='beneficiarios'"
        (click)="cambiarSeccion('beneficiarios')">
        🤝 Beneficiarios
      </button>

      <button
        [class.activo]="seccionPanel==='donaciones'"
        (click)="cambiarSeccion('donaciones')">
        ❤️ Donaciones
      </button>

      <button
        [class.activo]="seccionPanel==='distribuciones'"
        (click)="cambiarSeccion('distribuciones')">
        🚚 Distribuciones
      </button>

      <button
        [class.activo]="seccionPanel==='inventario'"
        (click)="cambiarSeccion('inventario')">
        📦 Inventario
      </button>

      <button
        *ngIf="rol==='ADMINISTRADOR'"
        [class.activo]="seccionPanel==='administradores'"
        (click)="cambiarSeccion('administradores')">
        👨‍💼 Administradores
      </button>

      <button
        class="cerrar-sesion"
        (click)="cerrarSesion()">

        🚪 Cerrar sesión

      </button>

    </nav>

  </aside>

  <main class="contenido-panel">

    <app-dashboard *ngIf="seccionPanel==='dashboard'"></app-dashboard>

    <app-alimentos *ngIf="seccionPanel==='alimentos'"></app-alimentos>

    <app-categorias *ngIf="seccionPanel==='categorias'"></app-categorias>

    <app-donadores *ngIf="seccionPanel==='donadores'"></app-donadores>

    <app-beneficiarios *ngIf="seccionPanel==='beneficiarios'"></app-beneficiarios>

    <app-donaciones *ngIf="seccionPanel==='donaciones'"></app-donaciones>

    <app-distribuciones *ngIf="seccionPanel==='distribuciones'"></app-distribuciones>

    <app-inventario *ngIf="seccionPanel==='inventario'"></app-inventario>

    <app-administradores *ngIf="seccionPanel==='administradores'"></app-administradores>

  </main>

</section>